export(alg2Csv)
export(checkAmbiguity)
export(checkInternalGaps)
export(completeSeqWithGaps)
export(concatenateAlignments)
export(cutAlignment)
export(dealign)
export(mergeAlignment)
export(removeEmptySeqs)
export(splitAlignment)
import(ape)
